.image-section{
  padding: 9.6rem 0 0;
  .subtitle-text{
    margin-bottom: 2rem;
  }
  &__desc{
    margin-bottom: 5.6rem;
  }
  &__media{
    width: calc(100% + 4.8rem);
    margin: 0 -2.4rem 0;
    img{
      width: 100%;
    }
  }
}
.certifications{
  &-item{
    &__title{
      color: $default;
      font-family: $Manrope;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      margin-bottom: 4rem;
    }
    &__list{
      li{
        padding: 0 2.6rem 0 4rem;
        margin-bottom: 4rem;
      }
      a{
        color: $gray-700;
        font-family: $Poppins;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        &:before, &:after{
          position: absolute;
          content: '';
          background-repeat: no-repeat;
          background-position: center;
        }
        &:before{
          left: -4rem;
          top: 50%;
          width: 2.4rem;
          height: 2.4rem;
          margin-top: -1.2rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_194_2900)'%3E%3Cpath d='M22.4998 0H1.49999C0.671573 0 0 0.671573 0 1.49999V18.4999C0 19.3283 0.671573 19.9999 1.49999 19.9999H13.4999V18.9999H1.49999C1.22385 18.9999 0.999976 18.776 0.999976 18.4999V1.49999C0.999976 1.22385 1.22385 0.999976 1.49999 0.999976H22.4998C22.776 0.999976 22.9998 1.22385 22.9998 1.49999V18.4999C22.9998 18.776 22.776 18.9999 22.4998 18.9999H21.4998V19.9999H22.4998C23.3282 19.9999 23.9998 19.3283 23.9998 18.4999V1.49999C23.9998 0.671573 23.3282 0 22.4998 0Z' fill='%23FE5442'/%3E%3Cpath d='M20.9999 5.00001C19.8953 5.00001 18.9999 4.10457 18.9999 3.00001C18.9999 2.72387 18.776 2.5 18.4999 2.5H5.50002C5.22388 2.5 5.00001 2.72387 5.00001 3.00001C5.00001 4.10457 4.10457 5.00001 3.00001 5.00001C2.72387 5.00001 2.5 5.22389 2.5 5.50002V14.5C2.5 14.7761 2.72387 15 3.00001 15C4.10457 15 5.00001 15.8954 5.00001 17C5.00001 17.2761 5.22388 17.5 5.50002 17.5H12V16.4999H5.9585C5.74344 15.2419 4.75804 14.2565 3.50002 14.0414V5.9585C4.75804 5.74344 5.74344 4.75805 5.9585 3.50002H18.0414C18.2565 4.75805 19.2419 5.74344 20.4999 5.9585V9.99999H21.4999V5.50002C21.4999 5.22384 21.276 5.00001 20.9999 5.00001Z' fill='%23FE5442'/%3E%3Cpath d='M17.5 10.5C15.0147 10.5 13 12.5147 13 15C13 17.4852 15.0147 19.4999 17.5 19.4999C19.984 19.4969 21.9969 17.484 21.9999 15C21.9999 12.5147 19.9852 10.5 17.5 10.5ZM17.5 18.4999C15.567 18.4999 14 16.933 14 15C14 13.067 15.5669 11.5 17.5 11.5C19.432 11.5022 20.9977 13.0679 21 15C20.9999 16.9329 19.4329 18.4999 17.5 18.4999Z' fill='%23FE5442'/%3E%3Cpath d='M19.4999 18V22.4595L17.8124 21.1095C17.6298 20.9632 17.3701 20.9632 17.1875 21.1095L15.5 22.4595V18H14.5V23.5C14.5 23.6136 14.5386 23.7239 14.6097 23.8127C14.7823 24.0282 15.0969 24.0631 15.3125 23.8905L17.5 22.1405L19.6875 23.8905C19.7762 23.9614 19.8864 24 20 24C20.2761 24 20.5 23.7761 20.5 23.5V18H19.4999Z' fill='%23FE5442'/%3E%3Cpath d='M16.9999 5H7.00001C6.72387 5 6.5 5.22387 6.5 5.50001V7.49996C6.5 7.7761 6.72387 7.99997 7.00001 7.99997H16.9999C17.2761 7.99997 17.4999 7.7761 17.4999 7.49996V5.49996C17.4999 5.22383 17.2761 5 16.9999 5ZM16.4999 6.99995H7.49998V5.99998H16.4999V6.99995Z' fill='%23FE5442'/%3E%3Cpath d='M6.99998 9.5H6V10.5H6.99998V9.5Z' fill='%23FE5442'/%3E%3Cpath d='M8.99998 9.5H8V10.5H8.99998V9.5Z' fill='%23FE5442'/%3E%3Cpath d='M12 11.5H6V12.5H12V11.5Z' fill='%23FE5442'/%3E%3Cpath d='M17.5 12.5C16.1193 12.5 15 13.6193 15 15C15 16.3807 16.1193 17.4999 17.5 17.4999C18.88 17.4983 19.9983 16.38 19.9999 15C19.9999 13.6193 18.8807 12.5 17.5 12.5ZM17.5 16.5C16.6715 16.5 16 15.8284 16 15C16 14.1715 16.6715 13.5 17.5 13.5C18.3284 13.5 19 14.1715 19 15C19 15.8284 18.3284 16.5 17.5 16.5Z' fill='%23FE5442'/%3E%3Cpath d='M3.49998 16.5H2.5V17.5H3.49998V16.5Z' fill='%23FE5442'/%3E%3Cpath d='M21.5 2.5H20.5V3.49998H21.5V2.5Z' fill='%23FE5442'/%3E%3Cpath d='M3.49998 2.5H2.5V3.49998H3.49998V2.5Z' fill='%23FE5442'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_194_2900'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
        &:after{
          top: 50%;
          width: 1.9rem;
          height: .8rem;
          margin-top: -.4rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='8' viewBox='0 0 19 8' fill='none'%3E%3Cpath d='M18.3536 4.35355C18.5488 4.15829 18.5488 3.84171 18.3536 3.64645L15.1716 0.464467C14.9763 0.269205 14.6597 0.269205 14.4645 0.464467C14.2692 0.65973 14.2692 0.976312 14.4645 1.17157L17.2929 4L14.4645 6.82843C14.2692 7.02369 14.2692 7.34027 14.4645 7.53554C14.6597 7.7308 14.9763 7.7308 15.1716 7.53554L18.3536 4.35355ZM-4.37114e-08 4.5L18 4.5L18 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z' fill='%23767676'/%3E%3C/svg%3E");
          right: -2.6rem;
        }
      }
    }
  }
  &-inner{
    margin: 5.6rem 0;
    .certificate-slider{
      padding: 0;
    }
    .certificate-nav{
      margin: 5.6rem 0 0;
    }
  }
}
.team{
  padding: 0 0 9.6rem;
  &-item{
    display: flex;
    margin-bottom: 5.6rem;
    flex-direction: column-reverse;
    &:last-of-type{
      margin-bottom: 0;
    }
    &__media{
      margin: 0 auto;
    }
    &__desc{
      margin-bottom: 2.4rem;
    }
    &__title{
      color: $default;
      font-family: $Manrope;
      font-size: 2rem;
      font-style: normal;
      font-weight: 800;
      line-height: 160%;
      margin-bottom: .8rem;
    }
    &__text{
      color: $gray-600;
      font-family: $Manrope;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
    }
  }
}