.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  transition: all ease 300ms;
  padding: 3.2rem 0;
  &.dark-mode{
    .header-nav {
      a{
        color: $white;
      }
      li{
        &.has-sub{
          a{
            &:after{
              background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.53246 5.2661L8.00466 8.80169L11.4769 5.2661C11.5597 5.18174 11.6581 5.11482 11.7663 5.06916C11.8746 5.0235 11.9906 5 12.1078 5C12.2249 5 12.341 5.0235 12.4492 5.06916C12.5575 5.11482 12.6558 5.18174 12.7387 5.2661C12.8215 5.35046 12.8872 5.45062 12.9321 5.56085C12.9769 5.67107 13 5.78921 13 5.90852C13 6.02783 12.9769 6.14597 12.9321 6.2562C12.8872 6.36642 12.8215 6.46658 12.7387 6.55094L8.63109 10.7335C8.5483 10.818 8.44996 10.885 8.3417 10.9307C8.23345 10.9765 8.11739 11 8.00019 11C7.88299 11 7.76693 10.9765 7.65868 10.9307C7.55042 10.885 7.45208 10.818 7.36929 10.7335L3.26171 6.55094C3.17875 6.46664 3.11293 6.36651 3.06802 6.25627C3.02311 6.14604 3 6.02786 3 5.90852C3 5.78918 3.02311 5.67101 3.06802 5.56077C3.11293 5.45054 3.17875 5.3504 3.26171 5.2661C3.61072 4.91983 4.18345 4.91072 4.53246 5.2661Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
            }
          }
        }
      }
    }
    .header-lang__title{
      color: $white;
      &:before{
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99998 14.6666C7.08887 14.6666 6.22776 14.4915 5.41665 14.1413C4.60554 13.791 3.89709 13.3133 3.29131 12.7079C2.68598 12.1026 2.2082 11.3944 1.85798 10.5833C1.50776 9.77214 1.33287 8.91103 1.33331 7.99992C1.33331 7.0777 1.50842 6.2137 1.85865 5.40792C2.20887 4.60214 2.68665 3.89681 3.29198 3.29192C3.89731 2.68614 4.60531 2.20836 5.41598 1.85859C6.22665 1.50881 7.08798 1.3337 7.99998 1.33325C8.9222 1.33325 9.7862 1.50836 10.592 1.85859C11.3978 2.20881 12.1031 2.68659 12.708 3.29192C13.3138 3.89725 13.7915 4.60281 14.1413 5.40859C14.4911 6.21436 14.6662 7.07814 14.6666 7.99992C14.6666 8.91103 14.4915 9.77214 14.1413 10.5833C13.7911 11.3944 13.3133 12.1028 12.708 12.7086C12.1026 13.3139 11.3971 13.7917 10.5913 14.1419C9.78554 14.4921 8.92176 14.667 7.99998 14.6666ZM7.99998 13.2999C8.28887 12.8999 8.53887 12.4833 8.74998 12.0499C8.96109 11.6166 9.13331 11.1555 9.26665 10.6666H6.73331C6.86665 11.1555 7.03887 11.6166 7.24998 12.0499C7.46109 12.4833 7.71109 12.8999 7.99998 13.2999ZM6.26665 13.0333C6.06665 12.6666 5.89154 12.2859 5.74131 11.8913C5.59109 11.4966 5.4662 11.0884 5.36665 10.6666H3.39998C3.7222 11.2221 4.12509 11.7055 4.60865 12.1166C5.0922 12.5277 5.64487 12.8333 6.26665 13.0333ZM9.73331 13.0333C10.3555 12.8333 10.9084 12.5277 11.392 12.1166C11.8755 11.7055 12.2782 11.2221 12.6 10.6666H10.6333C10.5333 11.0888 10.4084 11.4973 10.2586 11.8919C10.1089 12.2866 9.93376 12.667 9.73331 13.0333ZM2.83331 9.33325H5.09998C5.06665 9.11103 5.04154 8.89147 5.02465 8.67459C5.00776 8.4577 4.99954 8.23281 4.99998 7.99992C4.99998 7.76659 5.00843 7.5417 5.02531 7.32525C5.0422 7.10881 5.06709 6.88925 5.09998 6.66659H2.83331C2.77776 6.88881 2.73598 7.10836 2.70798 7.32525C2.67998 7.54214 2.6662 7.76703 2.66665 7.99992C2.66665 8.23325 2.68065 8.45814 2.70865 8.67459C2.73665 8.89103 2.7782 9.11059 2.83331 9.33325ZM6.43331 9.33325H9.56665C9.59998 9.11103 9.62509 8.89147 9.64198 8.67459C9.65887 8.4577 9.66709 8.23281 9.66665 7.99992C9.66665 7.76659 9.6582 7.5417 9.64131 7.32525C9.62442 7.10881 9.59954 6.88925 9.56665 6.66659H6.43331C6.39998 6.88881 6.37487 7.10836 6.35798 7.32525C6.34109 7.54214 6.33287 7.76703 6.33331 7.99992C6.33331 8.23325 6.34176 8.45814 6.35865 8.67459C6.37554 8.89103 6.40042 9.11059 6.43331 9.33325ZM10.9 9.33325H13.1666C13.2222 9.11103 13.264 8.89147 13.292 8.67459C13.32 8.4577 13.3338 8.23281 13.3333 7.99992C13.3333 7.76659 13.3193 7.5417 13.2913 7.32525C13.2633 7.10881 13.2218 6.88925 13.1666 6.66659H10.9C10.9333 6.88881 10.9584 7.10836 10.9753 7.32525C10.9922 7.54214 11.0004 7.76703 11 7.99992C11 8.23325 10.9915 8.45814 10.9746 8.67459C10.9578 8.89103 10.9329 9.11059 10.9 9.33325ZM10.6333 5.33325H12.6C12.2778 4.7777 11.8751 4.29436 11.392 3.88325C10.9089 3.47214 10.356 3.16659 9.73331 2.96659C9.93331 3.33325 10.1084 3.71392 10.2586 4.10859C10.4089 4.50325 10.5338 4.91147 10.6333 5.33325ZM6.73331 5.33325H9.26665C9.13331 4.84436 8.96109 4.38325 8.74998 3.94992C8.53887 3.51659 8.28887 3.09992 7.99998 2.69992C7.71109 3.09992 7.46109 3.51659 7.24998 3.94992C7.03887 4.38325 6.86665 4.84436 6.73331 5.33325ZM3.39998 5.33325H5.36665C5.46665 4.91103 5.59176 4.50259 5.74198 4.10792C5.8922 3.71325 6.06709 3.33281 6.26665 2.96659C5.64442 3.16659 5.09154 3.47214 4.60798 3.88325C4.12443 4.29436 3.72176 4.7777 3.39998 5.33325Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &:after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 10rem;
    height: 1px;
    width: 100%;
    background-color: $gray-400;
  }
  &.active{
    height: 100vh;
    .container{
      align-items: flex-start;
    }
    .header-btn{
      margin: .8rem 0 0 0;
    }
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo{
    width: 14.4rem;
    height: 3.5rem;
    img, a{
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
  &-nav{
    display: none;
    position: absolute;
    top: 14.7rem;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 2.4rem;
    ul{}
    li{
      margin-bottom: 1.6rem;
      &.has-sub{
        a{
          position: relative;
          &:after{
            position: absolute;
            content: '';
            right: -2.4rem;
            top: 1rem;
            width: 1.6rem;
            height: 1.6rem;
            transition: all ease 300ms;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4.53246 5.2661L8.00466 8.80169L11.4769 5.2661C11.5597 5.18174 11.6581 5.11482 11.7663 5.06916C11.8746 5.0235 11.9906 5 12.1078 5C12.2249 5 12.341 5.0235 12.4492 5.06916C12.5575 5.11482 12.6558 5.18174 12.7387 5.2661C12.8215 5.35046 12.8872 5.45062 12.9321 5.56085C12.9769 5.67107 13 5.78921 13 5.90852C13 6.02783 12.9769 6.14597 12.9321 6.2562C12.8872 6.36642 12.8215 6.46658 12.7387 6.55094L8.63109 10.7335C8.5483 10.818 8.44996 10.885 8.3417 10.9307C8.23345 10.9765 8.11739 11 8.00019 11C7.88299 11 7.76693 10.9765 7.65868 10.9307C7.55042 10.885 7.45208 10.818 7.36929 10.7335L3.26171 6.55094C3.17875 6.46664 3.11293 6.36651 3.06802 6.25627C3.02311 6.14604 3 6.02786 3 5.90852C3 5.78918 3.02311 5.67101 3.06802 5.56077C3.11293 5.45054 3.17875 5.3504 3.26171 5.2661C3.61072 4.91983 4.18345 4.91072 4.53246 5.2661Z' fill='white'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
          }
          &.active{
            &:after{
              background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4675 10.7339L7.99534 7.1983L4.52313 10.7339C4.44028 10.8183 4.34192 10.8852 4.23367 10.9308C4.12542 10.9765 4.0094 11 3.89223 11C3.77506 11 3.65904 10.9765 3.55079 10.9308C3.44254 10.8852 3.34418 10.8183 3.26133 10.7339C3.17848 10.6495 3.11276 10.5494 3.06792 10.4392C3.02308 10.3289 3 10.2108 3 10.0915C3 9.97217 3.02308 9.85403 3.06792 9.7438C3.11276 9.63358 3.17848 9.53342 3.26133 9.44906L7.36891 5.26649C7.4517 5.18201 7.55004 5.11499 7.6583 5.06926C7.76655 5.02354 7.88261 5 7.99981 5C8.11701 5 8.23307 5.02354 8.34133 5.06926C8.44958 5.11499 8.54792 5.18201 8.63071 5.26649L12.7383 9.44906C12.8213 9.53336 12.8871 9.63349 12.932 9.74373C12.9769 9.85396 13 9.97214 13 10.0915C13 10.2108 12.9769 10.329 12.932 10.4392C12.8871 10.5495 12.8213 10.6496 12.7383 10.7339C12.3893 11.0802 11.8165 11.0893 11.4675 10.7339Z' fill='%23FE5442'/%3E%3C/svg%3E%0A");
            }
          }
        }
        ul{
         display: none;
        }
      }
      &:last-of-type{
        margin-bottom: 0;
      }
      ul{
        padding: 0 2.4rem 0 5.4rem;
        li{
          margin-bottom: .8rem;
          &:last-of-type{
            margin-bottom: 0;
          }
          a{
            width: auto;
            &:after{
              display: none;
            }
          }
        }
      }
    }
    a{
      font-style: normal;
      font-weight: 500;
      font-size: 2rem;
      line-height: 160%;
    }
  }
  &-lang{
    display: none;
    padding: 0 2.4rem;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 11rem;
    &__title{
      font-family: $Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 100%;
      color: white;
      cursor: pointer;
      position: relative;
      padding-left: 2.4rem;
      display: inline-block;
      &:before{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 1.6rem;
        height: 1.6rem;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.50001 14.6666C7.5889 14.6666 6.72779 14.4915 5.91668 14.1413C5.10557 13.791 4.39712 13.3133 3.79134 12.7079C3.18601 12.1026 2.70823 11.3944 2.35801 10.5833C2.00779 9.77214 1.8329 8.91103 1.83334 7.99992C1.83334 7.0777 2.00846 6.2137 2.35868 5.40792C2.7089 4.60214 3.18668 3.89681 3.79201 3.29192C4.39734 2.68614 5.10534 2.20836 5.91601 1.85859C6.72668 1.50881 7.58801 1.3337 8.50001 1.33325C9.42223 1.33325 10.2862 1.50836 11.092 1.85859C11.8978 2.20881 12.6031 2.68659 13.208 3.29192C13.8138 3.89725 14.2916 4.60281 14.6413 5.40859C14.9911 6.21436 15.1662 7.07814 15.1667 7.99992C15.1667 8.91103 14.9916 9.77214 14.6413 10.5833C14.2911 11.3944 13.8133 12.1028 13.208 12.7086C12.6027 13.3139 11.8971 13.7917 11.0913 14.1419C10.2856 14.4921 9.42179 14.667 8.50001 14.6666ZM8.50001 13.2999C8.7889 12.8999 9.0389 12.4833 9.25001 12.0499C9.46112 11.6166 9.63334 11.1555 9.76668 10.6666H7.23334C7.36668 11.1555 7.5389 11.6166 7.75001 12.0499C7.96112 12.4833 8.21112 12.8999 8.50001 13.2999ZM6.76668 13.0333C6.56668 12.6666 6.39157 12.2859 6.24134 11.8913C6.09112 11.4966 5.96623 11.0884 5.86668 10.6666H3.90001C4.22223 11.2221 4.62512 11.7055 5.10868 12.1166C5.59223 12.5277 6.1449 12.8333 6.76668 13.0333ZM10.2333 13.0333C10.8556 12.8333 11.4085 12.5277 11.892 12.1166C12.3756 11.7055 12.7782 11.2221 13.1 10.6666H11.1333C11.0333 11.0888 10.9085 11.4973 10.7587 11.8919C10.6089 12.2866 10.4338 12.667 10.2333 13.0333ZM3.33334 9.33325H5.60001C5.56668 9.11103 5.54157 8.89147 5.52468 8.67459C5.50779 8.4577 5.49957 8.23281 5.50001 7.99992C5.50001 7.76659 5.50846 7.5417 5.52534 7.32525C5.54223 7.10881 5.56712 6.88925 5.60001 6.66659H3.33334C3.27779 6.88881 3.23601 7.10836 3.20801 7.32525C3.18001 7.54214 3.16623 7.76703 3.16668 7.99992C3.16668 8.23325 3.18068 8.45814 3.20868 8.67459C3.23668 8.89103 3.27823 9.11059 3.33334 9.33325ZM6.93334 9.33325H10.0667C10.1 9.11103 10.1251 8.89147 10.142 8.67459C10.1589 8.4577 10.1671 8.23281 10.1667 7.99992C10.1667 7.76659 10.1582 7.5417 10.1413 7.32525C10.1245 7.10881 10.0996 6.88925 10.0667 6.66659H6.93334C6.90001 6.88881 6.8749 7.10836 6.85801 7.32525C6.84112 7.54214 6.8329 7.76703 6.83334 7.99992C6.83334 8.23325 6.84179 8.45814 6.85868 8.67459C6.87557 8.89103 6.90046 9.11059 6.93334 9.33325ZM11.4 9.33325H13.6667C13.7222 9.11103 13.764 8.89147 13.792 8.67459C13.82 8.4577 13.8338 8.23281 13.8333 7.99992C13.8333 7.76659 13.8193 7.5417 13.7913 7.32525C13.7633 7.10881 13.7218 6.88925 13.6667 6.66659H11.4C11.4333 6.88881 11.4585 7.10836 11.4753 7.32525C11.4922 7.54214 11.5005 7.76703 11.5 7.99992C11.5 8.23325 11.4916 8.45814 11.4747 8.67459C11.4578 8.89103 11.4329 9.11059 11.4 9.33325ZM11.1333 5.33325H13.1C12.7778 4.7777 12.3751 4.29436 11.892 3.88325C11.4089 3.47214 10.856 3.16659 10.2333 2.96659C10.4333 3.33325 10.6085 3.71392 10.7587 4.10859C10.9089 4.50325 11.0338 4.91147 11.1333 5.33325ZM7.23334 5.33325H9.76668C9.63334 4.84436 9.46112 4.38325 9.25001 3.94992C9.0389 3.51659 8.7889 3.09992 8.50001 2.69992C8.21112 3.09992 7.96112 3.51659 7.75001 3.94992C7.5389 4.38325 7.36668 4.84436 7.23334 5.33325ZM3.90001 5.33325H5.86668C5.96668 4.91103 6.09179 4.50259 6.24201 4.10792C6.39223 3.71325 6.56712 3.33281 6.76668 2.96659C6.14446 3.16659 5.59157 3.47214 5.10801 3.88325C4.62446 4.29436 4.22179 4.7777 3.90001 5.33325Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-size: cover;
      }
    }
    a{
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 160%;
    }
    ul{
      display: none;
    }
  }
  &-buttons{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    padding: 0 2.4rem;
    margin: 0 auto;
    bottom: 6rem;
    width: 100%;
    .btn-primary{
      width: 100%;
      font-size: 1.6rem;
      padding: 1rem 2rem;
    }
  }
  &.active{
    background: $default;
    .header-nav{
      display: block;
      a{
        color: $white;
        &.active{
          color: $primary;
        }
      }
    }
    .header-lang{
      display: block;
    }
    .header-buttons{
      display: block;
    }
  }
  &-btn{
    margin: 0;
    width: 2.8rem;
    height: 1.8rem;
    cursor: pointer;
    position: relative;
    &:before, &:after, span{
      position: absolute;
      background: $default;
      height: .3rem;
      width: 100%;
      border-radius: 2rem;
      right: 0;
      transition: all ease 300ms;
    }
    &:before,
    &:after{
      content: '';
    }
    &:before{
      top: 0;
    }
    &:after{
      top: calc(100% - 2px);
    }
    span{
      top: 50%;
      margin-top: -1px;
    }
    &.active{
      &:before,
      &:after{
        content: '';
        width: 100%;
        top: 50%;
        margin-top: -2px;
        background: $white;
      }
      span{
        opacity: 0;
      }
      &:before{
        transform: rotate(45deg);
      }
      &:after{
        transform: rotate(-45deg);
      }
    }
  }

}
@media screen and (min-width: 768px){
 .header{
   &.active{
     .header-btn{
       margin: 1.4rem 0 0 0;
     }
   }
   &-logo{
     width: 17.6rem;
     height: 4.4rem;
   }
   .header-btn{
     margin: 1.4rem 0 0 0;
   }
 }
}
//.header {
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  width: 100%;
//  margin: 0 auto;
//  z-index: 2;
//  padding: 32px 0;
//  transition: all ease 300ms;
//  background: transparent;
//  &:before{
//    position: absolute;
//    content: '';
//    left: 0;
//    top: 0;
//    width: 100%;
//    height: 100%;
//    opacity: 0.7;
//    z-index: 2;
//  }
//  &.header-page{
//    background: linear-gradient(177.94deg, #525DBA -16.49%, rgba(82, 93, 186, 0) 65.05%);
//    opacity: 0.8;
//   &:before{
//     background: #525DBA;
//   }
//  }
//  &.scroll-nav{
//    position: fixed;
//    padding: 15px 0;
//    background: linear-gradient(177.94deg, #525DBA -16.49%, rgba(82, 93, 186, 0) 65.05%);
//    &:before{
//      background: #525DBA;
//    }
//  }
//  .container{
//    display: flex;
//    align-items: center;
//  }
//  &-logo{
//    margin: 0 auto 0 0;
//    img{
//      transition: all ease 300ms;
//    }
//  }
//  &-nav{
//    margin: 0 auto;
//    ul{
//      display: flex;
//      align-items: center;
//    }
//    li{
//      margin-right: 45px;
//    }
//    a{
//      font-weight: 700;
//      font-size: 14px;
//      line-height: 16px;
//      color: #FFFFFF;
//      &:hover, &.active{
//        color: rgba(255,255,255, .7);
//      }
//    }
//  }
//  &-lang{
//    margin: 0 0 0 34px;
//    padding-right: 16px;
//    position: relative;
//    cursor: pointer;
//    &.active{
//      ul{
//        opacity: 1;
//        visibility: visible;
//      }
//    }
//    &:after{
//      position: absolute;
//      content: '';
//      right: 0;
//      top: 50%;
//      margin-top: -3px;
//      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5' viewBox='0 0 10 5' fill='none'%3E%3Cpath d='M1 0.5L5 4.5L9 0.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
//      background-repeat: no-repeat;
//      width: 10px;
//      height: 6px;
//    }
//    span, a{
//      font-weight: 700;
//      font-size: 14px;
//      line-height: 17px;
//      color: #FFFFFF;
//    }
//    a{
//      &:hover{
//        color: #246BFD;
//      }
//    }
//    ul{
//      position: absolute;
//      top: 100%;
//      opacity: 0;
//      visibility: hidden;
//      z-index: -1;
//    }
//  }
//  &.active{
//    position: fixed;
//    background: rgba(22, 24, 30, .9);
//    .header-nav{
//      visibility: visible;
//      z-index: 2;
//      left: 0;
//      width: 100%;
//      opacity: 1;
//    }
//    .header-buttons{
//      z-index: 2;
//      width: 100%;
//      opacity: 1;
//      visibility: visible;
//      padding: 0 15px 25px;
//    }
//  }
//}

//.text-page{
//  padding: 150px 0 100px;
//  background: #16181E;
//  color: #fff;
//  .title-section{
//    margin-bottom: 30px;
//  }
//  .text-wrap{
//    p{
//      font-size: 16px;
//      line-height: 20px;
//      font-weight: 400;
//      margin-bottom: 20px;
//    }
//  }
//}