@media screen and (min-width: 576px){
  .service {
    .link-section{
      max-width: 22rem;
      margin: 18rem 0 0;
      .btn-primary{
        padding: 1.4rem 1rem;
      }
    }
  }
}
@media screen and (min-width: 768px){
  .service-slider{
    .slick-list{
      margin: 0 -1.4rem;
    }
    .slide{
      padding: 0 1.4rem;
    }
  }
  .footer{
    &-top{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-nav{
      li{
        width: auto;
        margin: 0 3.2rem 0 0;
        &:last-of-type{
          margin: 0;
        }
      }
    }
    &-social{
      margin: 0 auto 0;
    }
    &-bottom__info{
      margin-bottom: 0;
      display: flex;
      justify-content: center;
    }
    &-bottom__nav{
      margin-bottom: 0;
      li{
        margin:0 4.4rem 0 0 ;
        &:last-of-type{
          margin-right: 0;
        }
      }
    }
  }
  .service-page{
    &__wrap{
      margin: 0 -2.4rem;
    }
    &__item{
      display: flex;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: $default;
      }
      &:last-of-type{
        &:after{
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
        }
      }
      &:first-of-type{
        &:before{
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          width: 100%;
          height: 1px;
          background: $default;
        }
      }
      &-media{
        width: 100%;
        max-width: 20rem;
      }
      &-media, &-title, &-desc, &-link{
        box-sizing: border-box;
        margin: 0;
      }
      &-title{
        width: 25rem;
        padding: 3.2rem 1.4rem;
      }
      &-desc{
        width: 25rem;
        padding: 3.2rem 0;
      }
      &-link{
        padding: 3.2rem 0;
      }
    }
  }
  .contact{
    &-wrap{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -2.4rem;
    }
    &-item{
      width: 50%;
      padding: 0 2.4rem;
      &:last-of-type{
        border-bottom-color: $gray-400;
        padding-bottom: 3.2rem;
        margin-bottom: 3.2rem;
      }
    }
  }
}
@media screen and (min-width: 992px){
  .btn-primary{
    &:hover{
      background-color: $primary-hover;
    }
  }
  .header{
    padding: 2.4rem 0;
    &:after{
      max-width: 131.2rem;
      margin: 0 auto;
      top: 9.3rem;
    }
    &-btn{
      display: none;
    }
    &-logo{
      width: 20.2rem;
      height: 4.6rem;
    }
    &-nav{
      position: relative;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: auto;
      padding: 0;
      ul{
        display: flex;
      }
      li{
        margin:0 6.4rem 0 0;
        &:last-of-type{
          margin-right: 0;
        }
        &.has-sub{
          position: relative;
          a{

            &:after{
              top: .4rem;
              background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.53246 5.2661L8.00466 8.80169L11.4769 5.2661C11.5597 5.18174 11.6581 5.11482 11.7663 5.06916C11.8746 5.0235 11.9906 5 12.1078 5C12.2249 5 12.341 5.0235 12.4492 5.06916C12.5575 5.11482 12.6558 5.18174 12.7387 5.2661C12.8215 5.35046 12.8872 5.45062 12.9321 5.56085C12.9769 5.67107 13 5.78921 13 5.90852C13 6.02783 12.9769 6.14597 12.9321 6.2562C12.8872 6.36642 12.8215 6.46658 12.7387 6.55094L8.63109 10.7335C8.5483 10.818 8.44996 10.885 8.3417 10.9307C8.23345 10.9765 8.11739 11 8.00019 11C7.88299 11 7.76693 10.9765 7.65868 10.9307C7.55042 10.885 7.45208 10.818 7.36929 10.7335L3.26171 6.55094C3.17875 6.46664 3.11293 6.36651 3.06802 6.25627C3.02311 6.14604 3 6.02786 3 5.90852C3 5.78918 3.02311 5.67101 3.06802 5.56077C3.11293 5.45054 3.17875 5.3504 3.26171 5.2661C3.61072 4.91983 4.18345 4.91072 4.53246 5.2661Z' fill='%233D3F43'/%3E%3C/svg%3E%0A");
            }
          }
          ul{
            display: block;
            opacity: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            padding: 2.4rem;
            visibility: hidden;
            position: absolute;
            background: #fff;
            min-width: 27rem;
            box-shadow: 0px 2rem 4rem 0px rgba(153, 153, 153, 0.07);
            a{
              color: $default;
            }
          }
          &:hover{
            a{
              color: $primary;
              &:after{
                transform: rotate(180deg);
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.53246 5.2661L8.00466 8.80169L11.4769 5.2661C11.5597 5.18174 11.6581 5.11482 11.7663 5.06916C11.8746 5.0235 11.9906 5 12.1078 5C12.2249 5 12.341 5.0235 12.4492 5.06916C12.5575 5.11482 12.6558 5.18174 12.7387 5.2661C12.8215 5.35046 12.8872 5.45062 12.9321 5.56085C12.9769 5.67107 13 5.78921 13 5.90852C13 6.02783 12.9769 6.14597 12.9321 6.2562C12.8872 6.36642 12.8215 6.46658 12.7387 6.55094L8.63109 10.7335C8.5483 10.818 8.44996 10.885 8.3417 10.9307C8.23345 10.9765 8.11739 11 8.00019 11C7.88299 11 7.76693 10.9765 7.65868 10.9307C7.55042 10.885 7.45208 10.818 7.36929 10.7335L3.26171 6.55094C3.17875 6.46664 3.11293 6.36651 3.06802 6.25627C3.02311 6.14604 3 6.02786 3 5.90852C3 5.78918 3.02311 5.67101 3.06802 5.56077C3.11293 5.45054 3.17875 5.3504 3.26171 5.2661C3.61072 4.91983 4.18345 4.91072 4.53246 5.2661Z' fill='%23FE5442'/%3E%3C/svg%3E%0A");
              }
            }
            ul{
              opacity: 1;
              visibility: visible;
              z-index: 10;
              a{
                color: $default;
                &:hover{
                  color: $primary;
                }
              }
            }
          }
        }
      }
      a{
        font-size: 1.6rem;
        color: $default;
      }
    }
    &-lang{
      display: block;
      padding: 0;
      text-align: left;
      position: relative;
      right: 0;
      left: 0;
      margin:0;
      bottom: 0;
      &__title{
        color: $default;
        transition: all ease 300ms;
        &:before{
          transition: all ease 300ms;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99998 14.6666C7.08887 14.6666 6.22776 14.4915 5.41665 14.1413C4.60554 13.791 3.89709 13.3133 3.29131 12.7079C2.68598 12.1026 2.2082 11.3944 1.85798 10.5833C1.50776 9.77214 1.33287 8.91103 1.33331 7.99992C1.33331 7.0777 1.50842 6.2137 1.85865 5.40792C2.20887 4.60214 2.68665 3.89681 3.29198 3.29192C3.89731 2.68614 4.60531 2.20836 5.41598 1.85859C6.22665 1.50881 7.08798 1.3337 7.99998 1.33325C8.9222 1.33325 9.7862 1.50836 10.592 1.85859C11.3978 2.20881 12.1031 2.68659 12.708 3.29192C13.3138 3.89725 13.7915 4.60281 14.1413 5.40859C14.4911 6.21436 14.6662 7.07814 14.6666 7.99992C14.6666 8.91103 14.4915 9.77214 14.1413 10.5833C13.7911 11.3944 13.3133 12.1028 12.708 12.7086C12.1026 13.3139 11.3971 13.7917 10.5913 14.1419C9.78554 14.4921 8.92176 14.667 7.99998 14.6666ZM7.99998 13.2999C8.28887 12.8999 8.53887 12.4833 8.74998 12.0499C8.96109 11.6166 9.13331 11.1555 9.26665 10.6666H6.73331C6.86665 11.1555 7.03887 11.6166 7.24998 12.0499C7.46109 12.4833 7.71109 12.8999 7.99998 13.2999ZM6.26665 13.0333C6.06665 12.6666 5.89154 12.2859 5.74131 11.8913C5.59109 11.4966 5.4662 11.0884 5.36665 10.6666H3.39998C3.7222 11.2221 4.12509 11.7055 4.60865 12.1166C5.0922 12.5277 5.64487 12.8333 6.26665 13.0333ZM9.73331 13.0333C10.3555 12.8333 10.9084 12.5277 11.392 12.1166C11.8755 11.7055 12.2782 11.2221 12.6 10.6666H10.6333C10.5333 11.0888 10.4084 11.4973 10.2586 11.8919C10.1089 12.2866 9.93376 12.667 9.73331 13.0333ZM2.83331 9.33325H5.09998C5.06665 9.11103 5.04154 8.89147 5.02465 8.67459C5.00776 8.4577 4.99954 8.23281 4.99998 7.99992C4.99998 7.76659 5.00843 7.5417 5.02531 7.32525C5.0422 7.10881 5.06709 6.88925 5.09998 6.66659H2.83331C2.77776 6.88881 2.73598 7.10836 2.70798 7.32525C2.67998 7.54214 2.6662 7.76703 2.66665 7.99992C2.66665 8.23325 2.68065 8.45814 2.70865 8.67459C2.73665 8.89103 2.7782 9.11059 2.83331 9.33325ZM6.43331 9.33325H9.56665C9.59998 9.11103 9.62509 8.89147 9.64198 8.67459C9.65887 8.4577 9.66709 8.23281 9.66665 7.99992C9.66665 7.76659 9.6582 7.5417 9.64131 7.32525C9.62442 7.10881 9.59954 6.88925 9.56665 6.66659H6.43331C6.39998 6.88881 6.37487 7.10836 6.35798 7.32525C6.34109 7.54214 6.33287 7.76703 6.33331 7.99992C6.33331 8.23325 6.34176 8.45814 6.35865 8.67459C6.37554 8.89103 6.40042 9.11059 6.43331 9.33325ZM10.9 9.33325H13.1666C13.2222 9.11103 13.264 8.89147 13.292 8.67459C13.32 8.4577 13.3338 8.23281 13.3333 7.99992C13.3333 7.76659 13.3193 7.5417 13.2913 7.32525C13.2633 7.10881 13.2218 6.88925 13.1666 6.66659H10.9C10.9333 6.88881 10.9584 7.10836 10.9753 7.32525C10.9922 7.54214 11.0004 7.76703 11 7.99992C11 8.23325 10.9915 8.45814 10.9746 8.67459C10.9578 8.89103 10.9329 9.11059 10.9 9.33325ZM10.6333 5.33325H12.6C12.2778 4.7777 11.8751 4.29436 11.392 3.88325C10.9089 3.47214 10.356 3.16659 9.73331 2.96659C9.93331 3.33325 10.1084 3.71392 10.2586 4.10859C10.4089 4.50325 10.5338 4.91147 10.6333 5.33325ZM6.73331 5.33325H9.26665C9.13331 4.84436 8.96109 4.38325 8.74998 3.94992C8.53887 3.51659 8.28887 3.09992 7.99998 2.69992C7.71109 3.09992 7.46109 3.51659 7.24998 3.94992C7.03887 4.38325 6.86665 4.84436 6.73331 5.33325ZM3.39998 5.33325H5.36665C5.46665 4.91103 5.59176 4.50259 5.74198 4.10792C5.8922 3.71325 6.06709 3.33281 6.26665 2.96659C5.64442 3.16659 5.09154 3.47214 4.60798 3.88325C4.12443 4.29436 3.72176 4.7777 3.39998 5.33325Z' fill='%233D3F43'/%3E%3C/svg%3E%0A");
        }
        &:hover{
          &:before{
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99998 14.6666C7.08887 14.6666 6.22776 14.4915 5.41665 14.1413C4.60554 13.791 3.89709 13.3133 3.29131 12.7079C2.68598 12.1026 2.2082 11.3944 1.85798 10.5833C1.50776 9.77214 1.33287 8.91103 1.33331 7.99992C1.33331 7.0777 1.50842 6.2137 1.85865 5.40792C2.20887 4.60214 2.68665 3.89681 3.29198 3.29192C3.89731 2.68614 4.60531 2.20836 5.41598 1.85859C6.22665 1.50881 7.08798 1.3337 7.99998 1.33325C8.9222 1.33325 9.7862 1.50836 10.592 1.85859C11.3978 2.20881 12.1031 2.68659 12.708 3.29192C13.3138 3.89725 13.7915 4.60281 14.1413 5.40859C14.4911 6.21436 14.6662 7.07814 14.6666 7.99992C14.6666 8.91103 14.4915 9.77214 14.1413 10.5833C13.7911 11.3944 13.3133 12.1028 12.708 12.7086C12.1026 13.3139 11.3971 13.7917 10.5913 14.1419C9.78554 14.4921 8.92176 14.667 7.99998 14.6666ZM7.99998 13.2999C8.28887 12.8999 8.53887 12.4833 8.74998 12.0499C8.96109 11.6166 9.13331 11.1555 9.26665 10.6666H6.73331C6.86665 11.1555 7.03887 11.6166 7.24998 12.0499C7.46109 12.4833 7.71109 12.8999 7.99998 13.2999ZM6.26665 13.0333C6.06665 12.6666 5.89154 12.2859 5.74131 11.8913C5.59109 11.4966 5.4662 11.0884 5.36665 10.6666H3.39998C3.7222 11.2221 4.12509 11.7055 4.60865 12.1166C5.0922 12.5277 5.64487 12.8333 6.26665 13.0333ZM9.73331 13.0333C10.3555 12.8333 10.9084 12.5277 11.392 12.1166C11.8755 11.7055 12.2782 11.2221 12.6 10.6666H10.6333C10.5333 11.0888 10.4084 11.4973 10.2586 11.8919C10.1089 12.2866 9.93376 12.667 9.73331 13.0333ZM2.83331 9.33325H5.09998C5.06665 9.11103 5.04154 8.89147 5.02465 8.67459C5.00776 8.4577 4.99954 8.23281 4.99998 7.99992C4.99998 7.76659 5.00843 7.5417 5.02531 7.32525C5.0422 7.10881 5.06709 6.88925 5.09998 6.66659H2.83331C2.77776 6.88881 2.73598 7.10836 2.70798 7.32525C2.67998 7.54214 2.6662 7.76703 2.66665 7.99992C2.66665 8.23325 2.68065 8.45814 2.70865 8.67459C2.73665 8.89103 2.7782 9.11059 2.83331 9.33325ZM6.43331 9.33325H9.56665C9.59998 9.11103 9.62509 8.89147 9.64198 8.67459C9.65887 8.4577 9.66709 8.23281 9.66665 7.99992C9.66665 7.76659 9.6582 7.5417 9.64131 7.32525C9.62442 7.10881 9.59954 6.88925 9.56665 6.66659H6.43331C6.39998 6.88881 6.37487 7.10836 6.35798 7.32525C6.34109 7.54214 6.33287 7.76703 6.33331 7.99992C6.33331 8.23325 6.34176 8.45814 6.35865 8.67459C6.37554 8.89103 6.40042 9.11059 6.43331 9.33325ZM10.9 9.33325H13.1666C13.2222 9.11103 13.264 8.89147 13.292 8.67459C13.32 8.4577 13.3338 8.23281 13.3333 7.99992C13.3333 7.76659 13.3193 7.5417 13.2913 7.32525C13.2633 7.10881 13.2218 6.88925 13.1666 6.66659H10.9C10.9333 6.88881 10.9584 7.10836 10.9753 7.32525C10.9922 7.54214 11.0004 7.76703 11 7.99992C11 8.23325 10.9915 8.45814 10.9746 8.67459C10.9578 8.89103 10.9329 9.11059 10.9 9.33325ZM10.6333 5.33325H12.6C12.2778 4.7777 11.8751 4.29436 11.392 3.88325C10.9089 3.47214 10.356 3.16659 9.73331 2.96659C9.93331 3.33325 10.1084 3.71392 10.2586 4.10859C10.4089 4.50325 10.5338 4.91147 10.6333 5.33325ZM6.73331 5.33325H9.26665C9.13331 4.84436 8.96109 4.38325 8.74998 3.94992C8.53887 3.51659 8.28887 3.09992 7.99998 2.69992C7.71109 3.09992 7.46109 3.51659 7.24998 3.94992C7.03887 4.38325 6.86665 4.84436 6.73331 5.33325ZM3.39998 5.33325H5.36665C5.46665 4.91103 5.59176 4.50259 5.74198 4.10792C5.8922 3.71325 6.06709 3.33281 6.26665 2.96659C5.64442 3.16659 5.09154 3.47214 4.60798 3.88325C4.12443 4.29436 3.72176 4.7777 3.39998 5.33325Z' fill='%23FE5442'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
    &-buttons{
      display: block;
      position: relative;
      right: 0;
      left: 0;
      padding: 0 0;
      margin: 0 0 0 3rem;
      bottom: 0;
      max-width: 14.4rem;
      height: auto;
      line-height: normal;
    }
  }
  .title-section {
    font-size: 7.2rem;
    line-height: 140%;
    margin-bottom: 9.6rem;
  }
  .footer{
    &-nav{
      a{
        &:hover{
          color: $primary;
        }
      }
    }
    &-bottom__nav{
      a{
        &:hover{
          color: $primary;
          text-decoration: none;
        }
      }
    }
    &-social{
      a{
        &:hover{
          img{
            filter: invert(46%) sepia(51%) saturate(4670%) hue-rotate(331deg) brightness(86%) contrast(119%);
          }
        }
      }
    }
  }
  .hero{
    &-desc{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-title{
      max-width: 60.4rem;
    }
    &-info{
      max-width: 30.4rem;
    }
    &-media__video{
      transition: none;
    }
    &-media__service{
      margin-top: 10rem;
    }
  }
  .certificate, .reviews{
    .container-full, .container{
      position: relative;
    }
    &-nav{
      position: absolute;
      top: .7rem;
      right: 2.4rem;
      column-gap: 1.5rem;
    }
  }
  .about{
    min-height: 448px;

    .container-full{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-media{
      width: 100%;
      margin: 0 0 9.6rem 0;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
    }
    &-desc{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 2.4rem;
      .about-link{
        display: block;
      }
      .btn-primary{
        width: auto;
        top: 3px;
      }
    }
    &-list{
      width: 50%;
      ul{
        margin-bottom: 0;
      }
      .btn-primary{
        display: none;
      }
    }
  }
  .service{
    &-slider{
      display: flex;
      flex-wrap: wrap;
      margin:0 -1.2rem 0;
      .slide{
        padding: 0 1.2rem;
        width: 50%;
        margin-bottom: 8.2rem;
        .service-item__media{
          img{
            transition: all eae 300ms;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: #C4C4C4; /* IE 6-9 */
          }
        }
        &:nth-of-type(3), &:nth-of-type(4){
          margin-bottom: 3rem;
        }
        &:hover{
          .service-item__link{
            opacity: 1;
          }
          .service-item__media{
            img{
              -webkit-filter: grayscale(0%);
              -moz-filter: grayscale(0%);
              -ms-filter: grayscale(0%);
              -o-filter: grayscale(0%);
              filter: grayscale(0%);
              filter: none; /* IE 6-9 */
            }
          }
          .service-item__title{
            color: $primary;
            span{
              color: $primary;
            }
          }
        }
      }
    }
    &-nav{
      display: none;
    }
    &-item{
      &__media{
        margin-bottom: 4.2rem;
      }
      &__title{
        margin-bottom: 2rem;
        color: $white;
        transition: all ease 300ms;
        span{
          color: $white;
          transition: all ease 300ms;
        }
      }
      &__link{
        opacity: 0;
        transition: all ease 300ms;
      }

    }
  }
  .footer{
    &-bottom{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &__nav{
        margin-left: 1rem;
      }
    }
    &-copy{
      padding-top: 0;
      &:before{
        display: none;
      }
    }
  }
  .questions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-inner{
      width: 50%;
      margin: 0 0 0  auto;
    }
    &-form{
      form{
        max-width: 75.2rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .label{
        max-width: 100%;
        width: calc(50% - .6rem);
        &:nth-of-type(5){
          max-width: 100%;
          width: 100%;
        }
      }
      .modal-group{
        width: 100%;
        margin: 0 0 4rem 0;
      }
      .btn-primary{
        width: auto;
        max-width: 17rem;
      }
    }
  }
  .contacts{
    &-inner{
      width: auto;
      padding: 22rem 0 0;
      max-width: 48rem;
      margin: 0 auto 0 0;
      display: flex;
      flex-direction: column;
      .title-section{
        padding: 0 1.4rem 0 4.8rem;
        &:after{
          right: 0;
        }
      }
    }
    &-wrap{
      display: flex;
      flex-wrap: wrap;
      padding: 0 1.4rem 0 4.8rem;
    }

    &-items{
      width: 50%;
      &:first-of-type{
        width: 100%;
      }
    }
    &-media{
      margin: auto 0 0 0;
    }
    &-media{
      margin: auto 0 0 0;
    }
  }
  .next{
    .icon{
      position: absolute;
    }
    &:hover{
      animation: color-hover 1s 1 linear none;
      background: $default;
      .icon{
        animation: next-of-animation 1s 1 linear none;
        fill: $white;
      }
    }
  }
  .prev{
    .icon{
      position: absolute;
    }
    &:hover{
      animation: color-hover 1s 1 linear none ;
      background: $default;
      .icon{
        animation: prev-of-animation 1s 1 linear none ;
        fill: $white;
      }
    }
  }
  @keyframes color-hover {
    0%    {background: $white}
    40%   {background:$default}
    100%  {background:$default}
  }
  @keyframes next-of-animation {
    0%    {
      top: 0;
      right: 0;
      opacity: 1;}
    20%   {
      top: -100%;
      right: -100%;
      opacity: 0; }
    30%   {
      top: 100%;
      right: 100%;
      opacity: 0;
      fill: $white;
    }
    100%  {
      top: 0;
      right: 0;
      opacity: 1;
      fill: $white;
    }
  }
  @keyframes prev-of-animation {
    0%    {
      top: 0;
      right: 0;
    opacity: 1;}
    20%   {
      top: 100%;
      right: 100%;
      opacity: 0; }
    30%   {
      top: -100%;
      right: -100%;
      opacity: 0;
      fill: $white;
    }
    100%  {
      top: 0;
      right: 0;
      opacity: 1;
      fill: $white;
    }
  }
  .read-more{
    position: relative;
    transition: all ease 300ms;
    display: inline-flex;
    span{
      left: 100%;
      transition: left ease 300ms;
    }
    &:hover{
      padding-left: 4rem;
      color: $primary;
      position: relative;
      height: 2.4rem;
      span{
        position: absolute;
        left: 0;
        z-index: -1;
        margin-left: 0;
        background-color: $primary-hover;

      }
    }
  }
  .service-page{
    &__item{
      justify-content: space-between;
      &:hover{
        background: $gray-400;
        .service-page__item-link{
          a{
            background: $primary;
            border-color: $primary;
            .icon{
              fill: $white;
            }
          }
        }
      }
      &-link{
        padding: 3.2rem 1.4rem;
      }
    }
  }
  .bread-crumbs{
    display: block;
  }
  .hero-title{
    &.title-center{
      &:before{
        top: 6rem;
        width: 33.3rem;
        height: 30.6rem;
      }
    }
  }
  .information{
    padding: 16.8rem 0;
    &-top{
      margin-bottom: 5.6rem;
      padding-bottom: 5.6rem;
      &:after{
        width: 100%;
        left: 0;
      }
    }
    &-wrap{
      flex-direction: row;
    }
    &-media{
      width: 40%;
      margin-left: 0;
    }
    &-list{
      width: 60%;
      padding-left: 2.4rem;
      &__item{
        padding-left: 0;
        margin-left: 3.2rem;
      }
    }
  }
  .custom-section{
    &__wrap{
      display: flex;
    }
    &__info{
      width: 40%;
      .title-section{
        font-size: 5.6rem;
      }
      .link-block{
        max-width: 23.3rem;
        display: block;
      }
    }
    &__desc{
      width: 60%;
      padding-left: 2.4rem;
      .link-block{
        display: none;
      }
    }
  }
  .work{
    .title-section{
      text-align: center;
    }
    &-wrap{
      display: flex;
      position: relative;
    }
    &-info{
      max-width: 56rem;
      width: 50%;
      margin-bottom: 0;
      .link-section{
        max-width: 22.3rem;
      }
    }
    &-slider{
      max-width: 76rem;
      width: 50%;
      margin: 0;
      height: 48.7rem;
      padding: 0 0 0 2.4rem;
      .slick-track, .slick-list{
        height: 100%;
      }
      .slick-track{
        display: flex;
        align-items: flex-end;
      }
      .slide{
        height: 31.8rem;
      }
      .slick-current{
        height: 48.7rem;
      }
    }
    &-nav{
      position: absolute;
      bottom: 10.7rem;
      left: 36rem;
    }
  }
  .freestanding{
    padding: 0 0 16.8rem;
    .container-full{
      display: flex;
      justify-content: space-between;
    }
    &-desc{
      max-width: 52.8rem;
      width: 100%;
      padding: 16.8rem 0 0 0;
    }
    &-info{
      padding:0 0 0 2.4rem;
      width: 100%;
      margin: 0;
      &__media{
        width: 100%;
        margin: 0;
      }
    }
  }
  .about-inner{
    .about-media {
      .title-section{
        font-size: 8rem;
      }
    }
  }
  .platform{
    .container-full{
      display: flex;
    }
    &-media{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      max-width: 38.1rem;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &-desc{
      width: 100%;
      margin: 0 0 0 auto;
      max-width: 56rem;
    }
  }
  .hero-contact{
    padding: 9.2rem 0 9.6rem;
    .bread-crumbs{
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 1200px;
      top: 12rem;
      padding: 0 2.4rem;
    }
    .container-full{
      display: flex;
      flex-wrap: wrap;
    }
    .hero-map{
      width: 40%;
      &__media{
        height: 48rem;
      }
    }
    .questions-form{
      width: 60%;
      padding-top: 9.6rem;
    }
  }
  .contact{
    &-wrap{
      margin: 0;
    }
    &-item{
      width: 25%;
      padding: 0 5rem;
      border-bottom: 0;
      border-right: 1px solid $gray-400;
      &:last-of-type{
        border-bottom:0;
        padding-bottom: 0;
        margin-bottom:0;
        border-right-color: transparent;
      }
    }
  }
}

@media screen and (min-width: 1200px){

  .footer-social {
    margin: 0 12rem 0;
  }
  .hero{
    &-desc{
      .title-pseudo-white{
        &:before{
          left: -28rem;
          top: 0rem;
        }
      }
    }
    &-media__service{
      height: 70.4rem;
    }
  }
  .service-page{
    &__item{
      &-media{
        width: 100%;
        max-width: 33.6rem;
      }
      &-title{
        width: 30.4rem;
        padding: 6.4rem 1.4rem;
      }
      &-desc{
        width: 41.6rem;
        padding: 6.4rem 0;
      }
      &-link{
        padding: 6.4rem;
      }
    }
  }
  .subtitle-text{
    font-size: 2.4rem;
    line-height: 180%;
  }
  .hero{
    padding: 16.3rem 0 0;
    &-inner{
      .hero-title{
        font-size: 9.6rem;
      }
    }
    &-title{
      font-size: 9.6rem;
      max-width: 78rem;
    }
    &-info{
      padding-top: 2.1rem;
    }
    &-text{
      padding-bottom: 2.1rem;
    }
    &-desc{
      margin-bottom: 2.1rem;
    }
    &-media{
      height: 70.3rem;
      &__video{
        top: 10rem;
        right: 10rem;
        &.is-open{
          transition: all ease 300ms;
        }
      }
    }
  }
  .certificate{
    padding: 17rem 0 12rem;
    .title-section{
      font-size: 4.8rem;
      line-height: 120%;
      margin-bottom: 5.6rem;
      &:after{
        width: 100%;
        bottom: -5.4rem;
      }
    }
    &-slider{
      padding: 6.2rem 0 6rem;
    }
  }
  .about{
    padding: 0 0 16.5rem;
    &-desc{
      max-width: 53.8rem;
    }
    &-media{
      .title-section{
        font-size: 15rem;
        left: 0;
        bottom: -2.8rem;
      }
    }
    &-list{
      padding-top: .2rem;
      max-width: 60rem;
      li{
        letter-spacing: -0.14px;
        padding-bottom: 1.3rem;
        padding-left: 0;
        margin-bottom: 1.8rem;
        &:before{
          left: -4rem;
        }
      }
    }
  }
  .service{
    padding: 16.9rem 0 5.5rem;
    .title-pseudo{
      &:before{
        left: -6rem;
        top: -16rem;
      }
    }
    .container-full{
      display: flex;
      justify-content: space-between;
    }
    &-desc{
      max-width: 41.6rem;
      .text-section{
        display: none;
      }
    }
    &-media{
      max-width: 63.6rem;
      .text-section{
        display: block;
        font-size: 2.4rem;
        line-height: 179%;
        letter-spacing: .18px;
        margin-bottom: 9.8rem;
      }
    }
  }
  .certificate{
    &-nav{
      right: 6.4rem;
    }
  }
  .reviews{
    padding:16.9rem 0 5.7rem;
    .title-section{
      margin-bottom: 8rem;
    }
    &-item{
      &__desc{
        padding: 3.8rem 3.2rem 4.2rem;
        min-height: 28rem;
        margin-bottom: 4.1rem;
        align-items: flex-start;
      }
      &__title{
        font-size: 1.8rem;
        margin: 2.8rem 0 1.6rem;
      }
      &__author{
        &-title{
          font-size: 1.6rem;
        }
        &-position{
          text-transform: uppercase;
        }
      }
    }
  }
  .input, .textarea{
    padding: 1.3rem;
  }
  .questions{
    &-inner{
      padding: 16.9rem 13.8rem 14.6rem 6rem;
      .title-section{
        padding-bottom: 5.4rem;
        margin-bottom: 7.4rem;
      }
      .title-pseudo{
        &:before{
          width: 21.7rem;
          height: 20rem;
          left: -8.5rem;
          top: -7.5rem;
        }
      }
    }
    .label{
      margin-bottom: 2.4rem;
    }
    .modal-group{
      margin: -.9rem 0 4.1rem 0;
      .label-checkbox{
        line-height: 160%;
        max-width: 60rem;
      }
    }
    &-form{
      .btn-primary{
        width: 16rem;
      }
    }
  }
  .contacts{
    &-inner{
      padding: 22.2rem 0 0;
      .title-section{
        font-size: 4.8rem;
        line-height: 120%;
        padding: 0 1.4rem 0 5.3rem;
        margin-bottom: 8rem;
      }
    }
    &-wrap{
      padding: 0 1.4rem 0 5.3rem;
    }
    &-item{
      min-width: 21rem;
      margin-bottom: 4.2rem;
      &:first-of-type{
        width: 100%;
      }
      &__text{
        font-size: 1.8rem;
        a{
          font-size: 1.8rem;
        }
      }
    }
  }
  .custom-section{
    &__info{
      .title-section{
        font-size: 7.2rem;
      }
    }
  }
  .work{
    .container-full{
      padding-right: 0;
    }
    .subtitle-text{
      padding-bottom: 3.2rem;
      margin-bottom: 3.2rem;
    }
    .text-section{
      margin-bottom: 8rem;
    }
    &-info{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-nav{
      bottom: .2rem;
      left: 40rem;
    }
    &-slider{
      max-width: 75.3rem;
      width: 60%;
      .slide{
        padding-right: 2.4rem;
      }
    }
  }
  .freestanding{
    .title-block{
      font-size: 7.2rem;
    }
    &-info{
      &__media{
        margin-bottom: 5.6rem;
      }
    }
  }
  .about-inner{
    .about-media {
      height: 44.8rem;
      .title-section{
        font-size: 15rem;
      }
    }
  }
  .platform{
    padding: 0;
    .container-full{
      position: relative;
      padding: 9.6rem 0 0;
    }
    &-media{
      max-width: 48.1rem;
    }
  }
  .hero-contact{
    padding: 9.3rem 0 10.9rem;
    .bread-crumbs{
      top: 12rem;
      width: 100%;
      padding: 0 6.4rem;
    }
    .hero-map{
      width: 40%;
      &__media{
        height: 83rem;
        img{
          width: 110.9rem;
          height: 138.8rem;
        }
      }
      &__title{
        left: 13.3rem;
        top: 48.4rem;
      }
    }
    .questions-form{
      width: 60%;
      padding-top: 9.6rem;
    }
  }
}

@media screen and (min-width: 1900px){
  .hero-contact {
    .hero-map__title{
      left: 37.3rem;
      top: 48.4rem;
    }
  }
}