.service-page{
  padding: 9.6rem 0;
  &__wrap{}
  &__item{
    &:last-of-type{
      position: relative;
      &:after{
        position: absolute;
        content: '';
        left: -2.4rem;
        bottom: 3.2rem;
        width: calc(100% + 4.8rem);
        height: 1px;
        background: $default;
      }
    }
    &-media{
      width: calc(100% + 4.8rem);
      margin: 0 -2.4rem 3.2rem;
      a, img{
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-title{
      font-size: 2rem;
      font-family: 'Manrope';
      font-weight: 800;
      line-height: 160%;
      color: $default;
      margin-bottom: 1.6rem;
      &:hover{
        color: $primary;
      }
      a{
        line-height: inherit;
        font-size: inherit;
        color: inherit;
      }
    }
    &-desc{
      margin-bottom: 3.2rem;
      font-size: 1.6rem;
      font-family: 'Manrope';
      line-height: 170%;
      color: $gray-700;
    }
    &-link{
      margin-bottom: 3.2rem;
      a{
        width: 4rem;
        height: 4rem;
        box-sizing: border-box;
        border: 1px solid $default;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        .icon{
          fill: $default;
        }
        &:hover{
          background: $primary;
          border-color: $primary;
          .icon{
            fill: $white;
          }
        }
      }
    }
  }
}
.work-slider{
  height: 70rem;
  .slick-track{
    height: 65rem;
    display: flex;
    align-items: flex-end;
  }
  .slide{
    width: 46rem;
    height: 37rem;
    transition: all ease 300ms;
    img{
      transition: all ease 300ms;
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: #C4C4C4; /* IE 6-9 */
    }
    &.slick-current{
      width: 46rem;
      height: 50rem;
      img{
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
        filter: none; /* IE 6-9 */
      }
    }

  }
}